// ===================================================================
// Global Variables for button styles
// ===================================================================
:root {
    // Metrics
    --button-height: 20px;
    --button-width: fit-content;
    --button-radius: 0px;
    --button-font-size: 16px;
    --button-padding: 0;
    --button-gap: 25px;

    // Idle state - Default styles
    --button-color: #0969fc;
    --button-background: white;
    --button-stroke-color: transparent;

    // Hover state - Default styles
    --button-color-hover: #{theme-color('white')};
    --button-background-hover: grey;

    // Active state - Default styles
    --button-color-active: #{theme-color('black')};
    --button-background-active: #{theme-color('white')};
}

.c-button {
    border-bottom: #0969fc 1px solid;
    justify-self: self-end;
    align-self: center;
    position: relative;
    display: inline-flex;
    align-items: center;
    min-height: var(--button-height);
    width: var(--button-width);
    color: var(--button-color);
    border-radius: var(--button-radius);
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    background-color: var(--button-background);
    border: var(--button-stroke-color);
    transition: background-color theme-speed() theme-ease();

    // Hover
    @media (hover: hover) {
        .u-button-hover:hover &,
        &:hover {
            background-color: var(--button-background-hover);
            color: var(--button-color-hover);
        }
    }
}
